cassandra-driver==3.22.0
certbot==0.31.0
certbot-nginx==0.31.0
cluster==1.4.1.post2
Flask==1.1.1
gunicorn==20.0.4
ndg-httpsclient==0.4.2
requests==2.9.1
ssh-import-id==5.5
ufw==0.35
urllib3==1.24.2
Werkzeug==1.0.1